*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container{
    background: #000;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.logo{
    width: 40px;
}

ul li{
    display: inline-block;  
}

ul li a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.content .text{
    width: 40%;
    color: white;
}

.content .text h3{
    font-size: 40px;
    text-transform: uppercase;
}
.content .text p{
    font-size: 18px;
    margin: 20px 0;
}
.content .text a{
    text-decoration: none;
    color: black;
    background: white;
    padding: 10px 15px;
    border-radius: 20px;
}

.content .image{
    width: 30%;
}
.content .image img{
    width: 180px;
}
.icon{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.icon img{
    width: 50px;
    transition: .5s;
}
.icon img:hover{
    transform: scale(1.2);
}




